<h2>COVID-19 Statics</h2>
<p>Hover on names for more details.</p>            
<table class="table">
<thead>
  <tr>
    <th>Country</th>
    <th>Population</th>
    <th>Confirmed</th>
    <th>Deaths</th>
    <th>Recovered</th>
  </tr>
</thead>
<tbody>
    <% countries.forEach(function(country) { %>
    <tr>
        <div onmouseenter="countryInfo()">
            <td>
                <a href="#" title="More Detail" data-toggle="popover" data-trigger="hover" data-country="<%= JSON.stringify(country) %>" data-placement= "left">
                    <%= country.country %>
                </a>
            </td>
        </div>
        <td><%= country.country_population %></td>
        <td><%= country.latest.confirmed %></td>
        <td><%= country.latest.deaths %></td>
        <td><%= country.latest.recovered %></td>
    </tr>
<% }); %>
</tbody>
</table>

<div id="popover-content" style="display: none">
    <ul class="list-group custom-popover">
        <li id="list-group-item1"></li>
        <li id="list-group-item2"></li>
        <li id="list-group-item3"></li>
        <li id="list-group-item4"></li>
    </ul>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        html: true,
        content: function() {
            let country = $(this).data('country');
            remove();
            insert(country);
            return $('#popover-content').html();
        }
    });
});

function insert(country){
    document.getElementById("list-group-item1").innerHTML += country.country;
    document.getElementById("list-group-item2").innerHTML += country.country_code;
    document.getElementById("list-group-item3").innerHTML += country.province;
    document.getElementById("list-group-item4").innerHTML += country.last_updated;
}

function remove(){
    document.getElementById("list-group-item1").innerHTML = "Country : ";
    document.getElementById("list-group-item2").innerHTML = "Code: ";
    document.getElementById("list-group-item3").innerHTML = "Province: ";
    document.getElementById("list-group-item4").innerHTML = "Last Updated: ";
}

</script>
